.container {
  background-image: linear-gradient(rgb(34, 34, 34, 0.3), rgb(34, 34, 34, 0.3)),
    url(../../src/images/contact-image.jpeg);
  overflow: hidden;
  background-repeat: no-repeat;
  background-position: 50%;
  min-height: 100vh;
  background-size: cover;
}

.text-container {
  display: flex;
  flex-direction: column;
  gap: 6.4rem;
  justify-content: center;
  max-width: 120rem;
  margin: 15rem auto;
  padding: 0 2.4rem;
}

.text {
  font-weight: 500;
  font-size: 3rem;
}

.sub-text {
  font-weight: 500;
  font-size: 2rem;
}

.go-back {
  font-size: 4.8rem;
}

/****************************/
/* BELOW 544px (Mobile phones) */
/****************************/
@media (max-width: 34em) {
  .text-container {
    margin: 5rem 1.2rem 15rem 1.2rem;
    padding: 0 0.8rem;
  }
  .text {
    font-size: 2.4rem;
  }
  .sub-text {
    font-size: 1.6rem;
  }
}
