.actor-details-outer-container {
  background-color: #080708;
}

.actor-details-inner-container {
  max-width: 130rem;
  margin: 0 auto 2.4rem auto;
  padding: 6.4rem;
  display: grid;
  grid-template-columns: 3fr 1fr;
  align-items: center;
  gap: 8rem;
}

.actor-name {
  font-size: 8.6rem;
  margin: 4.8rem 0 2.4rem 0;
}

.actor-birth-date {
  font-size: 3rem;
}

.actor-bio {
  font-weight: 500;
  font-size: 3rem;
  margin: 3.2rem 0 4.8rem 0;
}

.secondary-title {
  font-size: 3.6rem;
  margin-bottom: 4.8rem;
  padding: 0 6.4rem;
  color: #63e6be;
}

.section-container {
  max-width: 130rem;
  margin: 0 auto;
}

.no-movies {
  font-size: 2.4rem;
  margin-top: 3.2rem;
  padding: 0 6.4rem 9.6rem 6.4rem;
}

.bio-container {
  width: 100%;
  background-color: #f8f9fa;
  color: #212529;
  margin: 4.8 auto 6.4rem auto;
  padding: 8rem 0;
}

.bio-full {
  font-family: 'Inter', sans-serif;
  font-weight: 500;
  font-size: 2rem;
  line-height: 1.3;
  padding: 0 6.4rem;
}

.actor-img-container {
  margin-top: 4.8rem;
}

.actor-img {
  border-radius: 100%;
}

.no-available-img {
  font-size: 2.4rem;
}

/****************************/
/* BELOW 1020px */
/****************************/
@media (max-width: 63.75em) {
  .actor-name {
    font-size: 7.4rem;
  }
}

/****************************/
/* BELOW 670px */
/****************************/
@media (max-width: 41.875em) {
  .actor-details-inner-container {
    margin: 0 auto 3.2rem auto;
    padding: 4.8rem 3.2rem 0 3.2rem;
    display: flex;
    flex-direction: column-reverse;
    gap: 6.4rem;
  }

  .secondary-title {
    text-align: center;
    margin-bottom: 6.4rem;
  }
  .bio-full {
    margin: 0 auto 3.2rem auto;
    padding: 0 2.4rem;
  }
  .actor-name {
    font-size: 5.2rem;
    margin: 0 0 2.4rem 0;
  }
  .actor-img-container {
    max-width: 75%;
    margin: 0;
  }
}
