.actor-details-outer-container {
  background-color: #111;
  color: #999;
}

.actor-details-inner-container {
  max-width: 130rem;
  margin: 0 auto 6.4rem auto;
  padding: 6.4rem;
  display: grid;
  grid-template-columns: 3fr 1fr;
  align-items: center;
  gap: 8rem;
}

.actor-name {
  font-size: 7.2rem;
  font-weight: 900;
  margin: 4.8rem 0 2.4rem 0;
  color: #e9ecef;
}

.actor-birth-date {
  font-size: 2.4rem;
}

.actor-bio {
  font-weight: 500;
  font-size: 2.4rem;
  color: #999;
  margin: 3.2rem 0 4.8rem 0;
}

.secondary-title {
  font-size: 3.6rem;
  font-weight: 700;
  margin: 0 auto 8rem auto;
  padding: 0 6.4rem;
  color: #e9ecef;
}

.section-container {
  max-width: 130rem;
  margin: 0 auto;
  background-color: #111;
}

.no-movies {
  font-size: 2.4rem;
  margin-top: 3.2rem;
  padding: 0 6.4rem 9.6rem 6.4rem;
}

.bio-container {
  width: 100%;
  color: #999;
  background-color: #111;
  margin: 4.8 auto 6.4rem auto;
  padding: 8rem 0;
}

.bio-full {
  font-weight: 500;
  font-size: 2.4rem;
  line-height: 1.3;
  padding: 0 6.4rem;
}

.actor-img-container {
  margin-top: 4.8rem;
}

.actor-img {
  border-radius: 5px;
  overflow: hidden;
}

.no-available-img {
  font-size: 2.4rem;
}

/****************************/
/* BELOW 1020px */
/****************************/
@media (max-width: 63.75em) {
  .actor-name {
    font-size: 7.4rem;
  }
}

/****************************/
/* BELOW 670px */
/****************************/
@media (max-width: 41.875em) {
  .actor-details-inner-container {
    margin: 0 auto 3.2rem auto;
    padding: 4.8rem 2.4rem 0 2.4rem;
    display: flex;
    flex-direction: column-reverse;
    gap: 6.4rem;
  }

  .secondary-title {
    font-size: 3rem;
    margin-bottom: 6.4rem;
    padding: 0 2.4rem;
  }

  .bio-container {
    margin: 4.8 auto 6.4rem auto;
    padding: 2.4rem 0 8rem 0;
  }

  .bio-full {
    margin: 0 auto 3.2rem auto;
    padding: 0 2.4rem;
  }

  .actor-name {
    font-size: 4.4rem;
    margin: 0 0 2.4rem 0;
  }

  .actor-img-container {
    margin: 0;
  }
}
