.search-actor {
  background-image: url(../../src/images/search-actor-background.jpg);
  overflow: hidden;
  background-repeat: no-repeat;
  background-position: 50%;
  margin: auto 0;
  height: 900px;
  background-size: cover;
}

.search-actor-container {
  width: 120rem;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 4.8rem;
  color: #e9ecef;

  transform: translate(-15%, 70%);
}

.search-actor-container-inner {
  width: 50%;
}

.title {
  font-size: 5.2rem;
  font-weight: 900;
  margin-bottom: 4.8rem;
  line-height: 1;
}

.site-details {
  font-size: 3rem;
  font-weight: 700;
  line-height: 1.2;
}

.search-field {
  margin-top: 6.4rem;
}

/****************************/
/* BELOW 820px */
/****************************/
@media (max-width: 51.25em) {
  .search-actor-container {
    width: 65rem;
    transform: translate(-25%, 15%);
  }
}

/****************************/
/* BELOW 450px */
/****************************/
@media (max-width: 28.125em) {
  .search-actor {
    height: 700px;
  }
  .search-actor-container {
    width: 55rem;
    margin-bottom: 30rem;
    transform: translate(-25%, 40%);
  }
  .site-details {
    font-size: 2.4rem;
  }
}
