.search-actor {
  background-image: url(../../src/images/search-actor-background.jpg);
  overflow: hidden;
  background-repeat: no-repeat;
  background-position: 50%;
  margin: auto 0;
  height: 900px;
  background-size: cover;
}

.search-actor-container {
  width: 120rem;
  display: flex;
  align-items: center;
  justify-content: center;

  /* In relation to PARENT size */
  /* left: 50%;
  top: 50%; */

  /* In relation to ELEMENT size */
  transform: translate(-15%, 70%);
}

.search-actor-container-inner {
  width: 50%;
  /* margin: 0 10rem; */
}

.title,
.site-details {
  color: #f1f3f5;
}

.title {
  font-size: 7.4rem;
  margin-bottom: 1.6rem;
}

.site-details {
  font-size: 3rem;
  line-height: 1.2;
}

.search-field {
  margin-top: 6.4rem;
}

/****************************/
/* BELOW 820px */
/****************************/
@media (max-width: 51.25em) {
  .search-actor-container {
    width: 90rem;
    transform: translate(-15%, 60%);
  }
}

/****************************/
/* BELOW 450px */
/****************************/
@media (max-width: 28.125em) {
  .search-actor-container {
    width: 55rem;
    margin-bottom: 30rem;
    transform: translate(-15%, 50%);
  }
}
