.header {
  background-image: url(../../src/images/header-background-2.jpg);
  overflow: hidden;
  background-repeat: no-repeat;
  background-position: 50%;
  margin: auto 0;
  height: 900px;
  background-size: cover;
}

.header-container {
  width: 120rem;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 4.8rem;
  /* In relation to PARENT size */
  /* left: 50%;
  top: 50%; */

  /* In relation to ELEMENT size */
  /* transform: translate(-50%, -40%); */
  transform: translate(-15%, 30%);
}

.header-container-inner {
  width: 50%;
}

.title,
.site-details {
  /* color: #212529; */
  color: #f1f3f5;
  text-shadow: 4px 4px 8px rgba(0, 0, 0, 0.2);
}

.title {
  font-size: 7.4rem;
  margin-bottom: 1.6rem;
}

.title span {
  color: #63e6be;
}

.site-details {
  font-size: 3rem;
  line-height: 1.2;
}

.search-field {
  margin-top: 6.4rem;
}

.dark-overlay {
  width: 100%;
  height: 900px;
  background: -moz-linear-gradient(
    88.01deg,
    #1a1a1a 5.26%,
    rgba(26, 26, 26, 0.602484) 54.81%,
    rgba(26, 26, 26, 0) 86.01%
  );
  background: -webkit-linear-gradient(
    88.01deg,
    #1a1a1a 5.26%,
    rgba(26, 26, 26, 0.602484) 54.81%,
    rgba(26, 26, 26, 0) 86.01%
  );
  background: linear-gradient(
    88.01deg,
    #1a1a1a 5.26%,
    rgba(26, 26, 26, 0.602484) 54.81%,
    rgba(26, 26, 26, 0) 86.01%
  );
  position: absolute;
  top: 0;
}

/****************************/
/* BELOW 820px */
/****************************/
@media (max-width: 51.25em) {
  .header-container {
    width: 65rem;
    margin: 0rem;
  }
}

/****************************/
/* BELOW 450px */
/****************************/
@media (max-width: 28.125em) {
  .header-container {
    width: 55rem;
    margin: 0rem;
  }
}
