.container {
  background-image: linear-gradient(rgb(34, 34, 34, 0.3), rgb(34, 34, 34, 0.3)),
    url(../src/images/contact-image.jpeg);
  overflow: hidden;
  background-repeat: no-repeat;
  background-position: 50%;
  min-height: 100vh;
  background-size: cover;
}

.text-container {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 120rem;
  margin: 30rem auto;
}

.text {
  font-size: 3.6rem;
}
