.movie {
  display: flex;
  justify-content: space-between;
  box-shadow: 0 1.2rem 2.4rem rgba(0, 0, 0, 0.075);
  border-radius: 8px;
  overflow: hidden;
  background-color: #353b41;
  box-shadow: 3px 3px 4px rgba(0, 0, 0, 0.4);
  cursor: pointer;
}

.movie-img {
  transition: all 0.4s;
}

.movie-img:hover {
  transform: scale(1.1);
}

.movie-content {
  padding: 2.4rem 1.2rem 1.2rem 1.2rem;
}
