.outer-container {
  max-width: 100%;
  background-color: #080708;
  padding: 8rem 6.4rem;
}

.inner-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: space-between;
  max-width: 130rem;
  margin: 0 auto;
  gap: 2.4rem;
}

.data-container {
  max-width: 70rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  row-gap: 3.2rem;
  margin-bottom: 1.2rem;
}

.movie-details {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
}

.movie-title {
  font-size: 9.8rem;
  margin-bottom: 3rem;
}

.movie-year {
  font-size: 3.6rem;
}

.movie-rating,
.movie-votes {
  font-size: 3rem;
}

.movie-img {
  overflow: visible;
  max-width: 55rem;
}

.btn-add-to-fav {
  font: inherit;
  font-size: 3rem;
  color: #63e6be;
  padding: 1rem 2rem;
  outline: 0;
  border: 1.5px solid #63e6be;
  background-color: rgba(0, 0, 0, 0);
  cursor: pointer;
}

.btn-add-to-fav:hover {
  color: #000;
  background-color: #63e6be;
}

.cast-title {
  /* display: inline-block; */
  font-size: 3.6rem;
  margin: 4.8rem 0 2.4rem 0;
  color: #63e6be;
  padding: 2.4rem 0 1.2rem 0;
}

.role-actor-list {
  line-height: 1.5;
}

.no-cast {
  font-size: 3rem;
}

/****************************/
/* BELOW 1020px */
/****************************/
@media (max-width: 63.75em) {
  .movie-img {
    max-width: 42rem;
  }
  .movie-title {
    font-size: 8rem;
    margin-bottom: 3rem;
  }
}

/****************************/
/* BELOW 800px */
/****************************/
@media (max-width: 50em) {
  .data-container {
    grid-template-columns: 1fr;
    row-gap: 3.2rem;
    margin-bottom: 3.2rem;
  }
  .movie-title {
    font-size: 6.4rem;
    margin-bottom: 3rem;
  }
}

/****************************/
/* BELOW 660px */
/****************************/
@media (max-width: 41.25em) {
  .outer-container {
    max-width: 100%;
    padding: 8rem 3.2rem;
    margin: 0 auto;
  }

  .inner-container {
    grid-template-columns: 1fr;
    margin: 0 auto;
  }

  .movie-img-container {
    max-width: 100%;
    justify-self: center;
  }

  .cast-title {
    text-align: center;
  }
}
