.outer-container {
  max-width: 100%;
  background-color: #080708;
  padding: 8rem 12.8rem;
}

.inner-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: space-between;
  align-items: start;
  max-width: 130rem;
  margin: 0 auto;
  column-gap: 6.4rem;
}

.data-container {
  max-width: 70rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  justify-content: center;
  row-gap: 3.2rem;
  column-gap: 2.4rem;
  font-size: 3rem;
}

.movie-img-container {
  justify-self: end;
}

.movie-details {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
}

.movie-title {
  max-width: 130rem;
  margin-bottom: 3.2rem;
  font-size: 9.8rem;
}

.movie-year {
  font-size: 3.6rem;
}

.plot {
  font-size: 3rem;
  margin-top: 4.8rem;
}

.plot-title {
  font-size: 3.6rem;
  color: #63e6be;
  margin-bottom: 3.2rem;
}

.btn-add-to-fav {
  font: inherit;
  font-size: 3rem;
  color: #63e6be;
  padding: 1rem 2rem;
  outline: 0;
  border: 1.5px solid #63e6be;
  background-color: rgba(0, 0, 0, 0);
  cursor: pointer;
}

.btn-add-to-fav:hover {
  color: #000;
  background-color: #63e6be;
}

.instructions {
  display: flex;
  justify-content: center;
  font-size: 1.8rem;
  margin-top: 12.8rem;
}

.cast-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 9.6rem;
}

.cast-title {
  font-size: 3.6rem;
  color: #63e6be;
  margin-bottom: 1.2rem;
}

.cast-sub-title {
  font-size: 1.8rem;
  text-align: center;
  margin-bottom: 4.8rem;
}

.role-actor-list {
  line-height: 1.5;
}

.no-cast {
  font-size: 3rem;
}

/****************************/
/* BELOW 1020px */
/****************************/
@media (max-width: 63.75em) {
  .movie-img {
    max-width: 42rem;
  }
  .movie-title {
    font-size: 8rem;
    margin-bottom: 3.2rem;
  }
}

/****************************/
/* BELOW 800px */
/****************************/
@media (max-width: 50em) {
  .outer-container {
    max-width: 100%;
    padding: 2.4rem 3.2rem;
    margin: 0 auto;
  }

  .inner-container {
    margin: 0 auto;
    grid-template-columns: 1fr;
  }

  .data-container {
    grid-template-columns: 1fr;
    row-gap: 3.2rem;
    margin-bottom: 3.2rem;
  }

  .movie-img-container {
    max-width: 100%;
    justify-self: center;
    display: flex;
    justify-content: center;
    grid-row: 1 / 2;
    margin: 2.4rem 0 6.4rem 0;
  }

  .plot {
    margin-top: 2.4rem;
  }

  .plot-title {
    margin-bottom: 3.2rem;
  }

  .instructions {
    margin-top: 8rem;
  }

  .cast-container {
    margin-top: 6.4rem;
  }

  .cast-title {
    text-align: center;
  }

  .movie-title {
    font-size: 6.4rem;
    margin-bottom: 3rem;
  }
}
