.roles-actors {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 2rem;
  max-width: 70rem;
  justify-content: space-between;
  font-size: 3rem;
  padding-right: 1.2rem;
}

.actor-name {
  cursor: pointer;
}

.actor-name:hover {
  /* color: #495057; */
  color: #63e6bfd5;
}
