.roles-actors {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 2rem;
  max-width: 60rem;
  justify-content: space-between;
  font-size: 3rem;
  padding-right: 1.2rem;
}

.actor-name {
  cursor: pointer;
  /* transition: all 0.3s; */
}

.actor-name:hover {
  /* transform: scale(1.05); */
  color: #495057;
}
