.button {
  letter-spacing: 1px;
  padding: 13px 30px 13px;
  font: inherit;
  border-radius: 8px;
  outline: 0;
  border: 2px solid #63e6be;
  cursor: pointer;
  position: relative;
  background-color: rgba(0, 0, 0, 0);
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.1);
}

.button-text {
  font-size: 3rem;
  color: #63e6be;
  transition: color 0.4s;
}

.button-text:hover {
  color: #fff;
}

.button-text:active {
  color: #379d7e;
}
