.fill {
  letter-spacing: 1px;
  padding: 13px 30px 13px;
  font: inherit;
  outline: 0;
  /* border: 1.5px solid #fff; */
  border: none;
  cursor: pointer;
  position: relative;
  background-color: rgba(0, 0, 0, 0);
}

.button-text {
  font-size: 3rem;
}

.fill::after {
  content: '';
  /* background-color: #f25056; */
  background-color: #df2935;
  width: 100%;
  z-index: -1;
  position: absolute;
  height: 100%;
  bottom: 0px;
  left: 0px;
  transition: 0.2s;
}

.fill:hover::after {
  /* bottom: 7px; */
  left: 10px;
}
