.footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 16rem;
}

.paragraph {
  font-size: 1.2rem;
}

/****************************/
/* BELOW 450px */
/****************************/
@media (max-width: 28.125em) {
  .footer {
    flex-direction: column;
    justify-content: center;
    gap: 0.8rem;
  }
}
