.search-actor {
  background-image: url(../../src/images/search-actor-background.jpg);
  overflow: hidden;
  background-repeat: no-repeat;
  background-position: 50%;
  margin: auto;
  min-height: 100vh;
  background-size: cover;
}

.search-actor-container {
  width: 120rem;
  display: flex;
  align-items: center;
  justify-content: center;

  /* In relation to PARENT size */
  /* left: 50%;
  top: 50%; */

  /* In relation to ELEMENT size */
  transform: translate(-15%, 70%);
}

.search-actor-container-inner {
  width: 50%;
  /* margin: 0 10rem; */
}

.title,
.site-details {
  color: #f1f3f5;
}

.title {
  font-size: 7.4rem;
  margin-bottom: 1.6rem;
}

.site-details {
  font-size: 3rem;
  line-height: 1.2;
}

.search-field {
  margin-top: 6.4rem;
}
