.input {
  display: flex;
  align-items: center;
  margin-bottom: 0.5rem;
  gap: 3.2rem;
}

.input input {
  width: 30rem;
  height: 5rem;
  border: 1px solid #999;
  border-radius: 5px;
  font-size: 2rem;
  color: #999;
  padding-left: 0.5rem;
  margin-right: 1.2rem;
  background-color: transparent;
}

.input input:focus {
  border-color: #fff;
  outline: #fff;
}

/****************************/
/* BELOW 400px */
/****************************/
@media (max-width: 25em) {
  .input {
    margin: 2.4rem 0 0 0;
    gap: 1.6rem;
  }
  .input input {
    margin-right: 0.1rem;
    width: 25rem;
  }
}
